<ion-header>
    <ion-navbar>
        <ion-title>{{'all_reviews' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-color">
    <div *ngIf="showLoader" class="loader-bg">
        <ion-spinner class="spinner" color="light"></ion-spinner>
    </div>
    <ion-list no-lines>
        <ion-item *ngFor="let item of data.reviews">
            <div class="img_box center_img" item-start>
                <img src="{{item.customer.profilepic}}" class="crop_img">
            </div>
            <h2 class="d-flex"><span>{{item.customer.name}}</span>
                <ion-badge class="end">{{item.rating}} <ion-icon class="material-icons">star</ion-icon>
                </ion-badge>
            </h2>
            <h3>{{item.subcategory}} | {{item.created_at}}</h3>
            <p>{{item.comment}}</p>
        </ion-item>
    </ion-list>
</ion-content>
