page-subscription {
    .header {
        .toolbar {
            .toolbar-content {
                position: absolute;
                width: 100%;
                left: 0;

                .toolbar-title {
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .banner {
        padding-top: 30px;
        padding-bottom: 35px;

        h1 {
            margin: 0;
            color: $white;
            font-size: 7rem;
            font-weight: 600;
        }

        h2 {
            color: $gray;
            margin: 0;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: .5px;
            line-height: 27px;
        }
    }

    .list {
        width: calc(100% - 26px);
        margin: 0 auto;

        h2 {
            font-size: 2rem;
            color: $white;
            letter-spacing: .5px;
            padding: 0 10px;
            padding-bottom: 20px;

        }

        .item {
            padding: 16px 18px 19px 18px;
            background: $item_bg;
            border-radius: 5px;
            margin: 0 auto;
            margin-bottom: 13px;


            .item-inner {
                padding: 0;

                .label {
                    margin: 0;
                    width: 100%;
                    display: block;

                    h3 {
                        color: $theme-color;
                        font-size: 1.85rem;
                        font-weight: 600;
                        margin-bottom: 7px;
                        letter-spacing: .5px;

                    }

                    h4 {
                        color: $white;
                        font-size: 1.45rem;
                        letter-spacing: .5px;
                    }
                }
            }
        }
    }
}
