page-signin {
    .tabbar{
        display: none;
    }
    .form {
        margin-top: 60px;

        h2 {
            margin: 0;
            color: $white;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: .5px;
            padding-bottom: 10px;
        }

        h3 {
            margin: 0;
            color: lighten($gray, 7%);
            font-size: 1.4rem;
            letter-spacing: .5px;
            font-weight: 400;
        }

        /*.list {
            margin-top: 50px;
        }*/

        .item{
            margin-top: 25px;
            margin-bottom: 0px!important;
        }

        button.btn{
            margin-top: 25px;
        }

        .invalid{
            border-bottom: 2px solid red!important
        }
    }

    .social-icons{
        display: flex;
        justify-content: center;

        a {
            float: left;
            margin: 0 10px;
        }
    }

    .footer {
        padding: 5px 10px;

        p {
            color: $white;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: .5px;
            margin: 0;
            margin-bottom: 20px;
        }

        .button.btn[block] {
            &.facebook {
                background: $fb_color;
            }

            &.google {
                background: $white;
                color: darken($gray, 40%);
            }
        }
    }
}
