<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-color" padding>
	<div *ngIf="showLoader" class="loader-bg">
        <ion-spinner class="spinner" color="light"></ion-spinner>
    </div>
    <div class="form">
	    <ion-list>
	    	<ion-item>
	    		<ion-label floating>Current Password</ion-label>
	    		<ion-input type="password" [(ngModel)]="oldpass"></ion-input>
	    	</ion-item>	
	    	<p class='error' *ngIf="(!oldpass.trim()) && submitAttempt">Please enter current password.</p>

	    	<ion-item>
	    		<ion-label floating>New Password</ion-label>
	    		<ion-input type="password" [(ngModel)]="pass"></ion-input>
	    	</ion-item>	
	    	<p class='error' *ngIf="(!pass.trim() || pass.length < 8) && submitAttempt">Please enter password of minimum 8 characters.</p>

	    	<ion-item>
	    		<ion-label floating>Confirm Password</ion-label>
	    		<ion-input type="password" [(ngModel)]="cpass"></ion-input>
	    	</ion-item>
	    	<p class='error' *ngIf="(!cpass.trim() || cpass.length < 8) && submitAttempt">Please confirm by re-entering the password entered above.</p>

	    	<button block ion-button (click)="updatePass()">CHANGE PASSWORD</button>	
	    </ion-list> 
	</div>
</ion-content>
