page-add-product {
    ion-select{
        color: white;
    }
    .profile {
        height: 100px;
        border: 1px solid white;
        // background: #13de81;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
